/* Genel Header Stilleri */
.header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-logo {
  width: 150px;
}

.header-nav {
  display: flex;
  gap: 30px;
}

.header-nav a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.header-nav a:hover {
  color: #007bff;
}

/* Arama Çubuğu ve Sonuçları */
.search-container {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative; /* Arama sonuçları için konum referansı */
}

.search-input {
  padding: 5px 10px;
  font-size: 14px;
  width: 200px;
}

.search-btn {
  padding: 5px 10px;
  background-color: #ffc107;
  border: none;
  cursor: pointer;
}

.search-results {
  position: absolute;
  top: 110%; /* Arama çubuğunun hemen altında */
  left: 0;
  background: #fff;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  z-index: 1000;
}

.search-result-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
}

.search-result-item:hover {
  background-color: #f9f9f9;
}

/* Profil ve Kafe Git Butonları */
.profile-btn,
.cafe-btn {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
