/* src/css/Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Sayfanın tam yüksekliği */
  background-color: #f5f5f5;
}

.login-box {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.logo {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #0095f6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #007bb5; /* Hover etkisi */
}

/* Mekan Paneli Butonu */
.mekan-paneli-button {
  width: 100%;
  padding: 10px; /* Giriş Yap butonuyla aynı padding */
  background-color: #0095f6; /* Giriş Yap butonuyla aynı renk */
  color: white; /* Yazı rengi beyaz */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px; /* Aradaki boşluğu aynı yap */
  font-size: 14px; /* Giriş Yap butonuyla aynı font-size */
  transition: background-color 0.3s;
  text-align: center;
}

.mekan-paneli-button:hover {
  background-color: #007bb5; /* Hover rengi */
  color: white; /* Hover durumunda yazı rengi beyaz kalır */
}

.facebook-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4267b2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.separator {
  margin: 20px 0;
  text-align: center;
  color: #8e8e8e;
  position: relative;
}

.separator::before,
.separator::after {
  content: "";
  height: 1px;
  width: 30%;
  background-color: #8e8e8e;
  position: absolute;
  top: 50%;
}

.separator::before {
  left: 0;
}

.separator::after {
  right: 0;
}

.forgot-password {
  margin-top: 10px;
  font-size: 12px;
  color: #385185;
  cursor: pointer;
}

.signup {
  margin-top: 20px;
  font-size: 12px;
}

.signup-link {
  color: #0095f6;
  cursor: pointer;
}
